@{
}
@inject Hotel_Management.Core.Repository.UnitOfWork.IUnitOfWork _unitOfWork

<div class="vh-100">
    <div class="d-flex justify-content-center">
        <div class="card shadow w-50 container p-5">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">CheckOut</h6>
            </div>
            <div class="card-body">
                <form asp-action="CheckOut" method="post">
                    <input type="hidden" name="BookingId" value="@ViewBag.BookingId"/>
                    <input type="hidden" name="RoomId" value="@_unitOfWork.BookingRepository.Find(@ViewBag.BookingId).RoomId" />
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Customer Name</span>
                    <input type="text" class="form-control" readonly value="@_unitOfWork.BookingRepository.GetBooking(@ViewBag.BookingId).Customer.CustomerName">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">CheckIn Time</span>
                    <input type="text" class="form-control" readonly value="@_unitOfWork.BookingRepository.GetBooking(@ViewBag.BookingId).CheckInTime">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">CheckOut Time</span>
                    <input type="text" name="checkoutTime" class="form-control" readonly value="@DateTime.Now">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Total Price</span>
                    <input type="text" name="totalPrice" class="form-control" readonly value="@ViewBag.TotalPrice">
                </div>
                <div>
                    <button class="payment btn btn-outline-success">Payment</button>
                </div>
                </form>

            </div>
            
        </div>
    </div>
</div>
